include salted/lib/equicomb.so 
include salted/lib/equicombnonorm.so 
include salted/lib/equicombsparse.so 
include salted/lib/equicombfps.so 
include salted/lib/equicombnonorm.so 
include salted/lib/equicombsparse.so 
include salted/lib/antiequicomb.so 
include salted/lib/antiequicombnonorm.so 
include salted/lib/antiequicombsparse.so 
include salted/lib/kernelequicomb.so 
include salted/lib/equicombfield.so 
include salted/lib/ovlp2cnonperiodic.so 
include salted/lib/ovlp2c.so 
include salted/lib/ovlp2cXYperiodic.so  
include salted/lib/ovlp3cnonperiodic.so  
include salted/lib/ovlp3c.so  
include salted/lib/ovlp3cXYperiodic.so
